{% extends "orders/base.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <h1> Pizza's and Subs</h1>
    <table>
    	<tr>
    		<td>
    			<h2>Toppings</h2>
    			<select name="">
			        <option value="">Pepperoni</option>
			        <option value="">Sausage</option>
			        <option value="">Mushrooms</option>
			        <option value="">Onions</option>
			        <option value="">Ham</option>
			        <option value="">Canadian Bacon</option>
			        <option value="">Pineapple</option>
			        <option value="">Eggplant</option>
			        <option value="">Tomato & Basil</option>
			        <option value="">Green Peppers</option>
			        <option value="">Hamburger</option>
			        <option value="">Spinach</option>
			        <option value="">Artichoke</option>
			        <option value="">Buffalo Chicken</option>
			        <option value="">Barbecue Chicken</option>
			        <option value="">Anchovies</option>
			        <option value="">Black Olives</option>
			        <option value="">Fresh Garlic</option>
			        <option value="">Zucchini</option>
			    </select>
    		</td>
    		<h2>Pasta</h2>
    		<td>
    			<select name="">
			        <option value="">Baked Ziti w/Mozzarella</option>
			        <option value="">Baked Ziti w/Meatballs</option>
			        <option value="">Baked Ziti w/Chicken</option>
			    </select>
    		</td>
    		<h2>Salads</h2>
    		<td>
    			<select name="">
			        <option value="">Garden Salad</option>
			        <option value="">Greek Salad</option>
			        <option value="">Garden Salad</option>
			        <option value="">Antipasto</option>
			        <option value="">Salad w/Tuna</option>
			    </select>
    		</td>
    		<h2>Dinner Platters</h2>
    		<td>
    			<select>
    				<option>Garden Salad</option>
    				<option>Greek Salad</option>
    				<option>Antipasto</option>
    				<option>Baked Ziti</option>
    				<option>Meatball Parm</option>
    				<option>Chicken Parm</option>
    			</select>
    		</td>

    	</tr>
    </table>
    
{% endblock %}
