$btn-sm: 2in;
$btn-md: 2.5in;
$btn-lg: 3in;
$btn-xl: 4in;

$sm: 576px;
$md: 768px;
$xl: 1200px;


.navbar-brand
{
    font-size: 24px !important;
}

.nav-item
{
    font-size: 20px !important;
}

.container {
    max-width: $sm;
    margin: auto;
}




/*Footer*/
footer
{
	margin: 20px;
    padding: 10px;
    color: grey;         /* Gray */
    text-decoration: none !important;
    text-align: center;
    font-size: 20px;
}

/*Hower Over Effect*/
.button
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover
{
    color: rgb(120,81,169);
}
